@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
// @import './sidebar.scss';
@import './header.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  // font-family: Microsoft YaHei;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}
footer {
  line-height: 60px;
  height: 60px;
  color: #888;
  background-color: #f1eded;
  text-align: center;
}

.text_center{
  text-align: center;
}
.text_right {
  text-align: right;
}
.float_right{
  float: right;
}
.float_left{
  float: left;
}


.small{
  font-size: small;
}
.smaller{
  font-size: smaller;
}
.font_color_grey{
  color: #7c7a7a;
}
.font_color_grey2{
  color: #9d9a96;
}

.font_color_grey3{
  color: #494747;
}
.font14{
  font-size: 14px;
}
.font15{
  font-size: 15px;
}
.font16{
  font-size: 16px;
}
.font17{
  font-size: 17px;
}
.font18{
  font-size: 18px;
}
.font19{
  font-size: 19px;
}
.font20{
  font-size: 20px;
}
.font36{
  font-size: 36px;
}
.font28{
  font-size: 28px;
}
.font29{
  font-size: 29px;
}
.font30{
  font-size: 30px;
}

.inline_flex{
  display: inline-flex;
}
.nowrap{
  white-space: nowrap;
}